:root{
    /* Background */
    --bg-prin: #FCFCFC;
    --bg-sec: #eeeeee;

    /* Texto */
    --txt-prin: #1C3861;
    --txt-sec: #FCFCFC;
    --txt-terc: #181B1F;
    --txt-p: #6D7581;

    /* Botões */
    --btn-color1: #1C3861;
    --btn-color2: #4A91A8;
}
*{
    margin: 0;
    padding: 0;
}

main{
    font-family: 'Inter', sans-serif;
    p{
        color: var(--txt-p);
        text-align:center;
        font-size: 1.1vw;
    }
    h1{ color: var(--txt-terc)}
}

.sessao{
    padding: 3vw;
}
.sessao .titulo{
    width: 100%;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: -0.1vw;
    text-align: center;
}

/* Sessão 1 */

.sessao.primeira{
    background-color: var(--bg-prin);
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        color: var(--txt-terc);
        font-size: 4vw;
        font-weight: bold;
    }
    p{
        font-size: 1.3vw;
    }
    picture{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1vw;
        margin-bottom: 2vw;
        img{
            margin: 2vw 0 1.5vw 0;
            width: 50%;
            border-radius: 100%;
            border: 5px solid var(--txt-prin);
        }
    }
    span{
        color: var(--txt-prin)
    }
}

/* Sessão 2 */

.sessao.segunda{
    background-color: var(--bg-sec);
    text-align: center;
    font-size: 1vw;
    .cards{
        margin-top: 2vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;
        .card{
            height: 5vw;
            padding: 2vw 2vw;
            flex: 1;
            background-color: var(--bg-prin);
            height: auto;
            position: relative;
            border-radius: 0.3vw;
            border: 1px solid gainsboro;
            max-width: 30%;
            box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
            img{
                position: absolute;
                top: 2vw;
                left: 2vw;
                height: 3vw;
                width: auto;
                background-color: var(--bg-sec);
                padding: 0.3vw;
                border-radius: 0.3vw;
            }
            h2{
                margin-top: 25%;
                text-align: left;
            }
            p{
                text-align: left;
                margin-top: 1.5vw;
            }
        }
        
    }
}

/* Sessão 3 */

.sessao.terceira{
    background-color: var(--bg-prin);
    .cards{
        margin-top: 2vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;
        .card{
            max-width: 50%;
            min-width: 40%;
            flex: 1;
            padding: 2vw 2vw;
            border-radius: 0.3vw;
            border: 1px solid gainsboro;
            box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
            picture{
                img{
                    width: 100%;
                    height: 20vw;
                    
                    border-radius: 0.3vw;
                }
            }
            h2{
                margin-top: 2vw;
                font-size: 2vw;
            }
            p{
                font-size: 1vw;
                text-align: left;
                margin-top: 0.5vw;
            }
            ul{
                display: flex;
                list-style: none;
                gap: 0.5vw;
                margin: 1vw 0;
                li{
                    padding: 0.1vw 1vw;
                    background-color: var(--btn-color1);
                    color: var(--txt-sec);
                    width: fit-content;
                    border-radius: 1vw;
                    font-size: 1vw;
                }
                    
            }
            a{
                border-radius: 0.3vw;
                border: 1px solid gainsboro;
                padding: 0.3vw 0.5vw;
                text-decoration: none;
                color: var(--txt-terc);
                font-weight: bold;
                font-size: 0.8vw;
                img{
                    width: 0.8vw;
                    margin-right: 0.5vw;
                }
            }
        }
    }
}

/*   Sessão 4   */

.sessao.quarta{
    background-color: var(--bg-sec);
    .cards{
        margin-top: 2vw;
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
        justify-content: center;
        .card{
            height: 5vw;
            padding: 2vw 2vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
            background-color: var(--bg-prin);
            height: auto;
            border-radius: 0.3vw;
            border: 1px solid gainsboro;
            max-width: 15%;
            box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.5);
            img{
                width: 3vw;
                margin-bottom: 1vw;
            }
            h2{
                font-size: 1.5vw;
            }
            p{
                font-size: 1vw;
            }
        }
    }
}

/* Rodapé */

footer{
    background-color: var(--bg-sec);
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    color: var(--txt-p);
    p{
        text-align: center;
        width: 50%;
        padding: 0.7vw;
        border-top: 0.05vw solid gainsboro; 
        font-size: 0.7vw;
    }
}