:root{
    --SecColor: #283F23
}

#voltar{
    position: fixed;
    top: 3%;
    left: 0%;
    text-decoration: none;
    color: #181B1F;
    font-size: 1.5em;
    padding: 10px 20px 10px 10px;
    border: 2px solid black;
    border-radius: 0 30px 30px 0;
    background-color: #fcfcfc;
    transition: 0.3s all;
    z-index: 999;
}
#voltar:hover{
    font-size: 1.7em;
    color: #fcfcfc;
    background-color: #4aa86b;
}

header{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    #logo{
        flex: 1;
        text-align: start;
        div{
            border: 1px solid;
            border-radius: 25px;
            padding: 10px 15px;
            width: fit-content;
            background-color: #d3d0c2;
        }
        select{
            border: none;
            background-color: transparent;
        }
    }
    #nav{
        flex: 3;
        ul{
            padding: 0;
            il{
                padding: 0 15px;
                margin: 0 5px;
            }
        }
    }
    #bookTour{
        flex: 1;
        button{
            background-color: var(--SecColor);
            padding: 15px 25px;
            border-radius: 10px;
            font-size: 0.8em;
            border: none;
            color: white;
            float: right;
        }
    }
}
main{
    margin: 5px;
    padding: 50px;
    background-color: #E6DFCD;
    border-radius: 25px;
    color: var(--SecColor);
    box-shadow: -5px 5px 10px black;

    .Sec1{
        margin-bottom: 50px;
        div{
            display: flex;
            justify-content: center;
            align-items: end;
            gap: 10%;
            h1{
                flex: 2;
                font-size:500%;
                letter-spacing: 3px;
            }
            p{
                flex: 1;
                font-size: 1.3em;
                margin-bottom: 50px;
                a{
                    color: var(--SecColor);
                }
            }
            img{
                width: 100%;
                height: 30em;
                object-fit: cover;
                object-position: center;
                border-radius: 25px;
            }
        }
    }

    .Sec2{
        div{
            flex: 1;
        }
        .whatWe{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 50px;
            > * {
                align-items: center;
                text-align: center;
                width: 50%;
            }
            h2{
                font-size: 3em;
                color: var(--SecColor);
            }
            p{
                color: gray;
                font-size: 1.2em;
            }
        }
        .threeItens{
            display: flex;
            height: 100%;
            gap: 50px;
            div{
               display: flex;
            }
            div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .lista{
                display: flex;
                flex-direction: column;
                padding: 0 0 300px 0;
                div{
                    width: 100%;
                    height: 200%;
                    margin: 2% 0;
                    padding: 1.5em;
                    border-radius: 10px;
                    background-color: #d3d0c2;
                    color: var(--SecColor);
                    font-weight: bold;
                }
                div:hover{
                    background-color: var(--SecColor);
                    filter: grayscale(0);
                    color: white;
                    }
            }
            div img{
                height: 100%;
                width: 100%;
                border-radius: 25px;
                object-fit: cover;
            }
            .lastOne{
                display: flex;
                flex-direction: column;
                color: var(--SecColor);
                h1{
                    font-size: 3em;
                }
            }
        }
    }
}
@media (max-width: 1200px) {    
    main{
        header{
            #logo{
                div{
                    border: 1px solid;
                    border-radius: 15px;
                    padding: 5px 15px;
                    width: fit-content;
                    background-color: #d3d0c2;
                }
                select{
                    border: none;
                    background-color: transparent;
                    font-size: 50%;
                }
            }
            #nav{
                padding: 0;
                font-size: 50%;
                ul{
                    padding: 0;
                    il{
                        padding: 0;
                        margin: 0 2px;
                    }
                }
            }
            #bookTour{
            flex: 1;
                button{
                    padding: 5px 15px;
                    border-radius: 5px;
                    font-size: 0.4em;
                }
            }
        }

        .Sec1{
            div{
                gap: 5%;
                h1{
                    font-size:200%;
                    letter-spacing: 3px;
                }
                p{
                    font-size: 0.6em;
                }
                img{
                    width: 100%;
                    height: 20em;
                    border-radius: 25px;
                }
            }
        }

        .Sec2{
            .threeItens{
                height: 100%;
                flex-direction: column;
                div img{
                    height: 30em;
                }
                .lista{
                    padding: 0px;
                }
                .lastOne{
                    padding: 0 10%;
                    text-align: center;
                }
            }
        }
    }
}